# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
*.mp4
*.webm   
*.ogg   
*.mov   
*.avi   
*.mkv   
*.flv
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.webp
*.svg
*.tiff